ALLOWED_HOSTS={{ netbox_allowed_hosts }} host.containers.internal localhost
BASE_DIR=/opt/netbox/netbox
BASE_PATH={{ netbox_basepath }}
CORS_ORIGIN_ALLOW_ALL=true
DB_HOST={{ netbox_name }}-postgres
DB_NAME=netbox
DB_USER={{ vault_netbox_postgres_username }}
GRAPHQL_ENABLED=true
HOUSEKEEPING_INTERVAL=86400
MEDIA_ROOT=/opt/netbox/netbox/media
METRICS_ENABLED=false
REDIS_CACHE_DATABASE=1
REDIS_CACHE_HOST={{ netbox_name }}-redis-cache
REDIS_CACHE_INSECURE_SKIP_TLS_VERIFY=false
REDIS_CACHE_SSL=false
REDIS_DATABASE=1
REDIS_HOST={{ netbox_name }}-redis
REDIS_INSECURE_SKIP_TLS_VERIFY=false
REDIS_SSL=false
RELEASE_CHECK_URL=https://api.github.com/repos/netbox-community/netbox/releases
REMOTE_AUTH_ENABLED=True
REMOTE_AUTH_BACKEND=netbox.authentication.RemoteUserBackend
REMOTE_AUTH_AUTO_CREATE_USER=True
REMOTE_AUTH_HEADER=HTTP_REMOTE_USER
SKIP_SUPERUSER=false
REMOTE_AUTH_USER_FIRST_NAME=HTTP_OIDC_CLAIM_GIVEN_NAME
REMOTE_AUTH_USER_LAST_NAME=HTTP_OIDC_CLAIM_FAMILY_NAME
REMOTE_AUTH_USER_EMAIL=HTTP_OIDC_CLAIM_EMAIL
REMOTE_AUTH_GROUP_HEADER=HTTP_OIDC_CLAIM_NERC_ROLES
REMOTE_AUTH_GROUP_SEPARATOR=,
REMOTE_AUTH_GROUP_SYNC_ENABLED=true
LOGOUT_REDIRECT_URL=https://{{ netbox_public_url }}/auth/re?logout=https%3A%2F%2F{{ netbox_public_url }}
SUPERUSER_EMAIL=
SUPERUSER_NAME={{ vault_obm_user }}
WEBHOOKS_ENABLED=true
