ALLOWED_HOSTS={{ netbox_allowed_hosts }} host.containers.internal localhost
BASE_DIR=/opt/netbox/netbox
BASE_PATH={{ netbox_basepath }}
CORS_ORIGIN_ALLOW_ALL=true
DB_HOST={{ netbox_name }}-postgres
DB_NAME=netbox
DB_USER={{ vault_netbox_postgres_username }}
GRAPHQL_ENABLED=true
HOUSEKEEPING_INTERVAL=86400
MEDIA_ROOT=/opt/netbox/netbox/media
METRICS_ENABLED=false
REDIS_CACHE_DATABASE=1
REDIS_CACHE_HOST={{ netbox_name }}-redis-cache
REDIS_CACHE_INSECURE_SKIP_TLS_VERIFY=false
REDIS_CACHE_SSL=false
REDIS_DATABASE=1
REDIS_HOST={{ netbox_name }}-redis
REDIS_INSECURE_SKIP_TLS_VERIFY=false
REDIS_SSL=false
RELEASE_CHECK_URL=https://api.github.com/repos/netbox-community/netbox/releases
SKIP_SUPERUSER=false
SUPERUSER_EMAIL=
SUPERUSER_NAME={{ vault_obm_user }}
WEBHOOKS_ENABLED=true
