{
  "listeners": {
    "0.0.0.0:8080": {
      "pass": "routes/main"
    },
    "[::]:8080": {
      "pass": "routes/main"
    },
    "0.0.0.0:8081": {
      "pass": "routes/status"
    },
    "[::]:8081": {
      "pass": "routes/status"
    }
  },
  "routes": {
    "main": [
      {
        "match": {
	{% if netbox_basepath != "" %}
          "uri": "/{{ netbox_basepath }}/static/*"
	{% else %}
          "uri": "/static/*"
	{% endif %}
        },
        "action": {
	{% if netbox_basepath == "netbox" %}
	  "share": "/opt/netbox${uri}"
	{% else %}
          "share": "/opt/netbox/netbox${uri}"
	{% endif %}
        }
      },
      {
        "action": {
          "pass": "applications/netbox"
        }
      }
    ],
    "status": [
      {
        "match": {
          "uri": "/status/*"
        },
        "action": {
          "proxy": "http://unix:/opt/unit/unit.sock"
        }
      }
    ]
  },
  "applications": {
    "netbox": {
      "type": "python 3",
      "path": "/opt/netbox/netbox/",
      "module": "netbox.wsgi",
      "home": "/opt/netbox/venv",
      "processes": {
        "max": 4,
        "spare": 1,
        "idle_timeout": 120
      }
    }
  },
  "access_log": "/dev/stdout",
  "settings": {
    "http": { "discard_unsafe_fields": false }
  }
}
